# Project Finance LSTM

## Part 3: Data preprocessing

# Introduction
In Part I, we collected the data for our project and in Part II we gave ARIMA a try.

In this Part, we will follow the steps the authors took for their analysis. More specifically:
1. Import libraries for preprocessing data
2. Preprocess data using signal processing techniques
3. Visualize and compare the preprocessed data with original
4. Export the preprocessed data for deep learning

In [1]:
# Step 1: Import libraries
import pywt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

In [2]:
# Step 2: Read the CSV as a DataFrame
df = pd.read_csv("S&P500 data from yfinance.csv", index_col=0, parse_dates=True)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000
...,...,...,...,...,...,...
2019-06-25,2945.780029,2946.520020,2916.010010,2917.379883,2917.379883,3578050000
2019-06-26,2926.070068,2932.590088,2912.989990,2913.780029,2913.780029,3478130000
2019-06-27,2919.659912,2929.300049,2918.570068,2924.919922,2924.919922,3122920000
2019-06-28,2932.939941,2943.979980,2929.050049,2941.760010,2941.760010,5420700000
2019-07-01,2971.409912,2977.929932,2952.219971,2964.330078,2964.330078,3513270000